.home_header{
    background-color: #090723;
}

.miracle—navbar{
    margin:10px;
    height: 40px;
}

#homepage{
    padding:10px;
}

#miracle-a{
    color: #ececf6;
}

#miracle-menico{
    margin: 8px;
    height: 25px;
    width: 25px;
}