{% extends "base.html" %}
{% load staticfiles %}
{% block title %}会议中心{% endblock %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-3 column">
					<div class="page-header">
						<h3>
							会议管理
						</h3>
					</div>
					<div class="panel-group" id="panel-34784">
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-34784" href="#panel-element-246825">会议管理</a>
							</div>
							<div id="panel-element-246825" class="panel-collapse collapse">
								<div class="panel-body">
									会议室维护
								</div>
                                <div class="panel-body">
									设备档案
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-34784" href="#panel-element-507454">预定管理</a>
							</div>
							<div id="panel-element-507454" class="panel-collapse collapse">
								<div class="panel-body">
									会议预定
								</div>
                                <div class="panel-body">
									取消预定
								</div>
							</div>
						</div>
                        <div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-34784" href="#panel-element-507454">个人中心</a>
							</div>
							<div id="panel-element-507454" class="panel-collapse collapse">
								<div class="panel-body">
									我的预定
								</div>
                                <div class="panel-body">
									我的参与
								</div>
							</div>
						</div>
                        <div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-34784" href="#panel-element-507454">会议统计</a>
							</div>
							<div id="panel-element-507454" class="panel-collapse collapse">
								<div class="panel-body">
									使用情况
								</div>
                                <div class="panel-body">
									会议明细
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 column">
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
