{% extends "base.html" %}
{% load staticfiles %}
{% block title %}查看{% endblock %}
 
{% block content %}
    <script type="text/javascript">
        $(function () {
            const H = window.innerHeight ;
            const DivH =document.getElementById('miracle-div');
            DivH.style.height=(H-164)+"px";
        })
    </script>
<div class="container" id="miracle-div">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-9 col-md-offset-1">
				{% if us_sta == "no" %}
				<table class="table table-hover">
					<thead>
						<tr>
							<th>预定人</th>
							<th>会议室编号</th>
							<th>会议室名称</th>
							<th>会议室时间</th>
							<th>会议室大小</th>
							<th>预定人电话</th>
							<th>预约日期</th>
							<th>备注</th>
						</tr>
					</thead>
					<tbody>
						{% for order in myorder %}
						<tr>
							<td>  {{ orders.creator }}  </td>
							<td>  {{ orders.code }}  </td>
							<td>  {{ orders.name }}  </td>
							<td>  {{ orders.time }}  </td>
							<td>  {{ orders.size }}  </td>
							<td>  {{ orders.phone }}  </td>
							<td>  {{ order.date }}  </td>
							<td><a href="/cancel/?id={{order.id}}">取消定单</a></td> 
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h2>你还没有预约，请先预约！</h2>
				{% endif %}
				
			</div>
		</div>
	</div>
</div>

{% endblock %}
